.main {
  position: relative;
  top: 72px;
  min-height: calc(100vh - 250px);
  display: block;
  overflow-x: hidden;
  padding: 0 calc(3.5vw + 5px);
}

.main:after {
  content: "";
  background: url("../../assets/images/home-background.png") center center /
    cover no-repeat fixed;
  position: absolute;
  inset: 0;
  /* opacity: 1; */
  z-index: -1;
}
