.header__loginButton {
  font: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  border-radius: 4px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 8px 16px;
  transition: all 0.2s ease 0s;
}

.header__loginButton:hover,
.header__loginButton:active {
  color: #000;
  background-color: #f9f9f9;
  border-color: transparent;
}
