.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: auto;
  margin-left: 25px;
}

.nav__list {
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
