.slider {
  margin-top: 20px;
}

.slider > button {
  height: 100%;
  width: 5vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
}

.slider > button:hover {
  opacity: 1;
}

.slider .slick-prev {
  left: -75px;
}
.slider .slick-next {
  right: -75px;
}

.slider .slick-list {
  overflow: initial;
}

.slider .slick-dots li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.slider .slick-dots li.slick-active button::before {
  color: #f9f9f9;
}

.slider__item {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.slider__item a {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  display: block;
  position: relative;
  /* padding: 4px; */
  border: 4px solid transparent;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slider__item a:hover,
.slider__item a:active {
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.slider__item a img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1270px) {
  .slider .slick-prev {
    left: -55px;
  }
  .slider .slick-next {
    right: -55px;
  }
}
@media only screen and (max-width: 950px) {
  .slider .slick-prev {
    left: -45px;
  }
  .slider .slick-next {
    right: -45px;
  }
}
@media only screen and (max-width: 768px) {
  .slider .slick-prev {
    left: -35px;
  }
  .slider .slick-next {
    right: -35px;
  }
}
@media only screen and (max-width: 590px) {
  .slider .slick-prev {
    left: -25px;
  }
  .slider .slick-next {
    right: -25px;
  }
}
@media only screen and (max-width: 450px) {
  .slider .slick-prev {
    left: -15px;
  }
  .slider .slick-next {
    right: -15px;
  }
}
