.section {
  padding: 0px 0px 26px;
}

.section ul {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

  @media only screen and (max-width:768px){
    .section ul{
      grid-template-columns: repeat();
    }
  }
