@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #040714;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body,
a {
  color: #f9f9f9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* normal screen */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* default phone screen */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

/* small phone screen */
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
